<div>
  <h1>
    Create a new account
  </h1>
  <h3>
    It's free and always will be.
  </h3>
  <div>
    <div>
      <app-input-box placeholder=" First Name" width="160px"></app-input-box>
      <app-input-box placeholder=" Last Name" width="160px"></app-input-box>
    </div>
    <br>
    <div>
      <app-input-box placeholder=" Mobile Number Or Email Address" width="400px"></app-input-box>
    </div>
    <br>
    <div>
      <app-input-box placeholder=" New Password" width="400px"></app-input-box>
    </div>
    <br>
    <div>
      <div style="font-size: larger">
        Birthday
      </div>
      <div class="date1 fleft">
        Day
      </div>
      <div class="date1 fleft">
        Month
      </div>
      <div class="date1 fleft">
        Year
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="Myradio" style="float: none">
      <input type="radio" value="Male" name="Gender"> <span style="font-size: larger">Male</span>
      <input type="radio" value="Female" name="Gender">  <span style="font-size: larger">Female</span>
    </div>
    <br>
    <button class="btn btn-success createAccount">Create Account</button>
  </div>
</div>
