<div id = "Header">
  <div class="row">
    <div class="col-md-7">
      <div class="container title">
        facebook
      </div>
    </div>
    <div class="col-md-5">
      <div class="fleft email">
        <app-login-form name="Email or Phone"></app-login-form>
      </div>
      <div class="fleft pass">
        <app-login-form name="Password"></app-login-form>
      </div>
      <div class="fleft login">
        <app-my-button name="Log In" backcolor="#365899" ></app-my-button>
      </div>
    </div>
  </div>
</div>
